.input {
  width: 100%;
  padding-left: 30px;
  border: none;
  outline: none;
}

.wrapper {
  width: 800px;
  height: 40px;
  display: flex;
  margin: 25px 0;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: var(--shadow);
  background-color: #fff;
}

.btnCancelIcon {
  width: 16px;
  height: 16px;
  padding: 2px;
  border-radius: 50%;
  background-color: rgba(139, 145, 221, 0.4);
}

.btnSearch {
  padding: 0 5px;
  margin: 0 20px 0 30px;
}
.icon {
  vertical-align: super;
}
