.App {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagination {
  margin-left: auto;
  margin-top: 10px;
  color: #2c7dfa;
  font-weight: 500;
}
