@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import './variables.css';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--main-font-color);
  background-color: var(--bacground-color);
}

ul {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

p {
  margin: 0;
}
